
#container {
    margin: 100px;
    padding: 20px;
    border: 2px;

    height: 80vh;

    border-color: black;
    border-style: solid;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 1px;
}

.pixel{
    flex: auto  ;
    border: black;
    border: 1vh;
    border-style: solid;
    width: 5vh;
    height: 5vh;
    max-width: 5vh;
    max-height: 5vh;
    font-size: 1px;
    background-color: red;
}

.pixelBox{
    display: flex;
    justify-content: space-between;
    flex: auto;
    border: red;
    border: 1vh;
    border-style: solid;
}